brotli==1.2.0
cffi==2.0.0
cssselect2==0.8.0
fonttools==4.60.2
importlib_metadata==8.7.1
Markdown==3.9
pillow==11.3.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
zipp==3.23.0
zopfli==0.2.3.post1
